In [1]:
import pandas as pd
import os

In [2]:
import glob

In [3]:
import numpy as np

In [4]:
data_path1 = r'C:\Users\roseh\Desktop\NYBG_R\data'
data_path2 = r'C:\Users\roseh\Desktop\NYBG_R\data\nybg_late_season'

In [5]:
main = pd.read_csv(os.path.join(data_path1,'nybg_all_main.csv'))

In [7]:
main['date'] = pd.to_datetime(main['date'])

In [8]:
main = main.loc[main['date'] < '2022-11-01']

In [42]:
file1, file2, file3 = [pd.read_csv(file,header=0,skiprows=[0,2]) for file in glob.glob(os.path.join(data_path2,'*NYBG*.csv'))]

- file1 & file3 = 7810,
- file2 = 8100

In [43]:
file1.columns

Index(['TA initial_value', 'VOLUME_TOTAL', 'COLLAR_HEIGHT', 'FCO2_DRY',
       'FCO2_DRY LIN', 'LABEL', 'DATE_TIME initial_value', 'FCO2_DRY LIN_R2',
       'FCO2_DRY LIN_CV', 'FCO2_DRY R2'],
      dtype='object')

In [44]:
file2.columns

Index(['DATE initial_value', 'TA initial_value', 'FCO2_DRY LIN_R2',
       'FCO2_DRY R2', 'COMMENT', 'FCO2_DRY LIN', 'FCO2_DRY',
       'FCO2_DRY LIN_CV'],
      dtype='object')

In [45]:
file2 = file2.loc[((file2['FCO2_DRY LIN'] - file2['FCO2_DRY']).abs() / file2['FCO2_DRY LIN'] < 0.1) | (file2['FCO2_DRY LIN_CV'] < 1.2)]

In [46]:
file2

,DATE initial_value,TA initial_value,FCO2_DRY LIN_R2,FCO2_DRY R2,COMMENT,FCO2_DRY LIN,FCO2_DRY,FCO2_DRY LIN_CV
0,2022-11-02 10:59:35,17.66136,0.98652,0.98652,BW_TP2_Rs,6.83401,6.83401,1.98978
1,2022-11-02 11:04:58,17.03227,0.99932,0.99936,BW_TP1_Rs,13.08296,13.53031,1.12073
2,2022-11-02 11:10:38,17.11409,0.99862,0.99871,BW_TP3_Rs,4.22193,4.44081,1.18382
4,2022-11-02 11:23:38,20.58364,0.99583,0.99583,BW_HL1_Rs,17.91418,17.91418,1.40858
5,2022-11-02 11:30:01,21.40909,0.99836,0.99836,BW_HL2_Rs,17.47762,17.47762,1.20494
6,2022-11-02 11:38:22,-90.30818,0.96642,0.96642,BW_HL2_NEE,-3.28298,-3.28298,2.89483
7,2022-11-02 11:45:21,-88.64727,0.95129,0.95129,BW_HL1_NEE,-3.37574,-3.37574,3.42547
8,2022-11-02 11:51:15,-88.75773,0.99971,0.99988,BW_TP2_NEE,11.19621,12.09025,1.15933
9,2022-11-02 11:56:30,-86.03227,0.99974,0.99979,BW_TP1_NEE,15.33642,15.86571,1.15294
10,2022-11-02 12:01:15,-88.14500,0.99948,0.99968,BW_TP3_NEE,5.80578,6.36940,1.17840
11,2022-11-02 12:04:33,-89.51409,0.99947,0.99947,BW_TP4_NEE,4.51761,4.51761,1.18084
12,2022-11-02 12:34:24,-90.08909,0.96146,0.96146,BL_SV2_NEE,0.68359,0.68359,3.07714
13,2022-11-02 12:36:37,-86.81227,0.95261,0.95261,BL_SV2_NEE_noleafcover,0.61598,0.61598,3.38093
14,2022-11-02 12:43:10,19.39864,0.99877,0.99877,BL_SV2_Rs,4.20736,4.20736,1.16978
15,2022-11-02 13:06:54,22.40318,0.99972,0.99974,BL_ML1_Rs,14.19717,14.51575,1.08134
16,2022-11-02 13:13:07,-92.39000,0.98772,0.99646,BL_ML1_NEE,-6.96947,-16.91539,1.95758
17,2022-11-02 13:30:59,18.55091,0.99805,0.99805,BR_HL3_Rs,11.71621,11.71621,1.23256
19,2022-11-02 13:41:22,-88.03545,0.99800,0.99800,BR_HL4_NEE,-6.82407,-6.82407,1.30053
20,2022-11-02 13:45:46,20.74000,0.99292,0.99292,BR_HL4_Rs,6.61633,6.61633,1.61112
22,2022-11-02 15:11:25,19.68182,0.99831,0.99831,BE_UL2_Rs,4.35083,4.35083,1.20970
25,2022-11-02 15:25:41,-88.08045,0.99894,0.99894,BE_SV3_NEE_noleafcover,3.70686,3.70686,1.22390
28,2022-11-02 15:35:42,-93.42727,0.98310,0.98310,BE_UL1_NEE,3.31864,3.31864,2.19230
29,2022-11-02 15:37:50,-94.54727,0.98868,0.98868,BE_UL1_NEE_noleafcover,2.36558,2.36558,1.90764

In [47]:
file1 = file1.loc[((file1['FCO2_DRY LIN'] - file1['FCO2_DRY']).abs() / file1['FCO2_DRY LIN'] < 0.1) | (file1['FCO2_DRY LIN_CV'] < 1.2)]

In [48]:
file1

,TA initial_value,VOLUME_TOTAL,COLLAR_HEIGHT,FCO2_DRY,FCO2_DRY LIN,LABEL,DATE_TIME initial_value,FCO2_DRY LIN_R2,FCO2_DRY LIN_CV,FCO2_DRY R2
0,22.00969,5861.06,5.0,15.43737,15.43737,BW_HL2,2022/11/02 12:02:08,0.99661,1.33750,0.99661
1,23.05935,5861.06,5.0,13.70423,13.70423,BW_HL2real,2022/11/02 12:05:02,0.98838,1.87855,0.98838
3,22.54065,5861.06,5.0,11.65982,11.65982,BL_ML1,2022/11/02 12:53:46,0.99679,1.32272,0.99679
5,20.14139,5861.06,5.0,5.76629,5.39648,BR_HL4real,2022/11/02 13:22:11,0.99016,1.77550,0.99019
7,20.42581,5861.06,5.0,4.25862,4.16335,BE_UL2,2022/11/02 14:57:32,0.99180,1.67390,0.99182

In [49]:
file3 = file3.loc[((file3['FCO2_DRY LIN'] - file3['FCO2_DRY']).abs() / file3['FCO2_DRY LIN'] < 0.1) | (file3['FCO2_DRY LIN_CV'] < 1.2)]

In [52]:
file3.columns = ['Chamber_Temp','vol','colheight','expflux','Res','Label','date','linr2','cv','expr2']

In [54]:
file1.columns = ['Chamber_Temp','vol','colheight','expflux','Res','Label','date','linr2','cv','expr2']

In [57]:
file2.columns = ['date','Chamber_Temp','linr2','expr2','Label','Res','expflux','cv']

In [59]:
file2 = file2.loc[file2['Label'].str.contains('Rs')]

In [61]:
file2['Label'] = file2['Label'].str[:6]

C:\Users\roseh\AppData\Local\Temp\ipykernel_15908\2879815487.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  file2['Label'] = file2['Label'].str[:6]

In [64]:
file1['Label'] = file1['Label'].str[:6]

In [67]:
file3['Label'] = file3['Label'].str[:6]

In [68]:
all_dfs = [file1,file2,file3]

for df in all_dfs:
    df['Unnamed: 0.1'] = np.NaN
    df['Unnamed: 0'] = np.NaN
    df['NEE'] = np.NaN
    df['GEE'] = np.NaN
    df['PAR'] = np.NaN
    df['Soil temperature'] = np.NaN
    df['Soil_moist'] = np.NaN
    df['type'] = df['Label'].str[3:5]
    df['sentinel_ndvi'] = np.NaN
    df['hh_ndvi'] = np.NaN
    df['sentinel_evi'] = np.NaN
    df['landsat_ndvi'] = np.NaN

C:\Users\roseh\AppData\Local\Temp\ipykernel_15908\501862087.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Unnamed: 0.1'] = np.NaN
C:\Users\roseh\AppData\Local\Temp\ipykernel_15908\501862087.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Unnamed: 0'] = np.NaN
C:\Users\roseh\AppData\Local\Temp\ipykernel_15908\501862087.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['NEE'] = np.NaN
C:\Users\roseh\AppData\Local\Temp\ipykernel_15908\501862087.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['GEE'] = np.NaN
C:\Users\roseh\AppData\Local\Temp\ipykernel_15908\501862087.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['PAR'] = np.NaN
C:\Users\roseh\AppData\Local\Temp\ipykernel_15908\501862087.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Soil temperature'] = np.NaN
C:\Users\roseh\AppData\Local\Temp\ipykernel_15908\501862087.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Soil_moist'] = np.NaN
C:\Users\roseh\AppData\Local\Temp\ipykernel_15908\501862087.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['type'] = df['Label'].str[3:5]
C:\Users\roseh\AppData\Local\Temp\ipykernel_15908\501862087.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['sentinel_ndvi'] = np.NaN
C:\Users\roseh\AppData\Local\Temp\ipykernel_15908\501862087.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['hh_ndvi'] = np.NaN
C:\Users\roseh\AppData\Local\Temp\ipykernel_15908\501862087.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['sentinel_evi'] = np.NaN
C:\Users\roseh\AppData\Local\Temp\ipykernel_15908\501862087.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['landsat_ndvi'] = np.NaN

In [69]:
main.columns

Index(['Unnamed: 0.1', 'Unnamed: 0', 'date', 'Label', 'Res', 'NEE', 'GEE',
       'PAR', 'Soil temperature', 'Soil_moist', 'type', 'Chamber_Temp',
       'sentinel_ndvi', 'hh_ndvi', 'sentinel_evi', 'landsat_ndvi'],
      dtype='object')

In [70]:
ordered_cols = main.columns.tolist()

for df in all_dfs:
    df = df[ordered_cols]

In [71]:
file2_order = file2[ordered_cols]

In [72]:
file3_order = file3[ordered_cols]

In [73]:
file1_order=file1[ordered_cols]

In [74]:
combine = pd.concat([main,file1_order,file2_order,file3_order])

In [75]:
combine.tail()

,Unnamed: 0.1,Unnamed: 0,date,Label,Res,NEE,GEE,PAR,Soil temperature,Soil_moist,type,Chamber_Temp,sentinel_ndvi,hh_ndvi,sentinel_evi,landsat_ndvi
15,NaN,NaN,2022/11/12 12:26:28,BW_TP1,25.61351,NaN,NaN,NaN,NaN,NaN,TP,22.10470,NaN,NaN,NaN,NaN
17,NaN,NaN,2022/11/12 13:47:08,BG_WL_,4.17759,NaN,NaN,NaN,NaN,NaN,WL,20.99358,NaN,NaN,NaN,NaN
18,NaN,NaN,2022/11/12 13:49:04,BG_WL_,3.89899,NaN,NaN,NaN,NaN,NaN,WL,20.97515,NaN,NaN,NaN,NaN
19,NaN,NaN,2022/11/12 13:50:57,BG_WL_,3.66619,NaN,NaN,NaN,NaN,NaN,WL,20.43710,NaN,NaN,NaN,NaN
20,NaN,NaN,2022/11/12 13:52:51,BG_WL_,3.50871,NaN,NaN,NaN,NaN,NaN,WL,20.03213,NaN,NaN,NaN,NaN

In [76]:
combine.to_csv(os.path.join(data_path1,'nybg_all_main.csv'),index=False)