In [1]:
import pandas as pd
import numpy as np
import os
import matplotlib.pyplot as plt

### Create Seasonal Median df - all temps, lst, ndvi

In [2]:
data_path = r'C:\Users\roseh\Desktop\NYBG_R\data\processed'

In [3]:
lst_df = pd.read_csv(os.path.join(data_path,'LST_time_series.csv'))

In [4]:
nybg_df = pd.read_csv(os.path.join(data_path,'nybg_recat3.csv'))

In [5]:
ndvi_df = pd.read_csv(os.path.join(data_path,'ndvi_timeseries.csv'))

In [6]:
nybg_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 338 entries, 0 to 337
Data columns (total 13 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Unnamed: 0.1      338 non-null    int64
 1   Unnamed: 0        338 non-null    int64
 2   Date_x            338 non-null    object
 3   Label             338 non-null    object
 4   Res               210 non-null    float64
 5   NEE               71 non-null     float64
 6   GEE               77 non-null     float64
 7   PAR               64 non-null     float64
 8   Soil temperature  203 non-null    float64
 9   Soil_moist        204 non-null    float64
 10  type              338 non-null    object
 11  Chamber_Temp      161 non-null    float64
 12  ndvi              121 non-null    float64
dtypes: float64(8), int64(2), object(3)
memory usage: 34.5+ KB

In [7]:
sensors_df = pd.read_csv(os.path.join(data_path,'all_temp_sensors.csv'), parse_dates = ['Date'],na_values= ' ',dtype={'Temp_F': np.float32})

sensors_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 102456 entries, 0 to 102455
Data columns (total 7 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   Unnamed: 0.2  102456 non-null  int64
 1   Unnamed: 0.1  102456 non-null  int64
 2   Unnamed: 0    102456 non-null  int64
 3   Date          102456 non-null  datetime64[ns]
 4   Temp_F        102456 non-null  float32
 5   collar        102456 non-null  object
 6   Temp_C        102456 non-null  float64
dtypes: datetime64[ns](1), float32(1), float64(1), int64(3), object(1)
memory usage: 5.1+ MB

In [8]:
grouped_s = sensors_df.groupby('collar')
sensor_temps = []
sensor_names = []
for name, group in grouped_s:
    if name in ['BE_UL1', 'BL_ML1', 'BR_HL3', 'BT_FE2', 'BT_FE3',
       'BT_FI1', 'BT_FI3', 'BW_HL1', 'BE_SV3', 'BG_UL3']:
        sensor_names.append(name)
        sensor_temps.append(group['Temp_C'].median())
        
sensor_meds = pd.DataFrame(data={'sensor_names':sensor_names,'sensor_temps':sensor_temps})

In [9]:
sensor_meds.replace('BE_SV3','BE_UL3',inplace=True)
sensor_meds.replace('BG_UL3','BG_ML3',inplace=True)
sensor_meds

  sensor_names  sensor_temps
0       BE_UL3     19.733332
1       BE_UL1     20.633333
2       BG_ML3     21.488890
3       BL_ML1     21.577776
4       BR_HL3     22.433332
5       BT_FE2     16.855556
6       BT_FE3     19.388891
7       BT_FI1     16.300001
8       BT_FI3     19.472225

In [10]:
lst_med = lst_df.median(numeric_only=True)

In [11]:
lst_med_df = pd.DataFrame(lst_med)

In [12]:
lst_med_df = lst_med_df.reset_index()

In [13]:
lst_med_df = lst_med_df.rename(columns={'index':'labels',0:'lst'})

In [14]:
ndvi_med = ndvi_df.median(numeric_only=True)
ndvi_med_df = pd.DataFrame(ndvi_med)
ndvi_med_df = ndvi_med_df.reset_index()
ndvi_med_df = ndvi_med_df.rename(columns={'index':'labels',0:'ndvi'})

In [15]:
ndvi_med_df

   labels    ndvi
0  BE_UL1  0.8380
1  BL_ML1  0.8220
2  BR_HL3  0.6315
3  BT_FE2  0.7675
4  BT_FE3  0.8270
5  BT_FI1  0.8755
6  BT_FI3  0.8740
7  BW_HL1  0.4000
8  BE_UL3  0.8110
9  BG_ML3  0.7615

In [16]:
grouped = nybg_df.groupby('Label')
temps = []
tempnames = []
for name, group in grouped:
    if name in ['BE_UL1', 'BL_ML1', 'BR_HL3', 'BT_FE2', 'BT_FE3',
       'BT_FI1', 'BT_FI3', 'BW_HL1', 'BE_UL3', 'BG_ML3']:
        tempnames.append(name)
        temps.append(group['Soil temperature'].median())
        
temp_meds = pd.DataFrame(data={'tempnames': tempnames,'soil_temps':temps})

In [17]:
temp_meds

  tempnames  soil_temps
0    BE_UL1       22.80
1    BE_UL3       20.90
2    BG_ML3       22.80
3    BL_ML1       24.70
4    BR_HL3       23.40
5    BT_FE2       19.35
6    BT_FE3       20.20
7    BT_FI1       19.20
8    BT_FI3       20.10
9    BW_HL1       24.90

In [18]:
chambertemp=[]
chambernames=[]
for name, group in grouped:
    if name in ['BE_UL1', 'BL_ML1', 'BR_HL3', 'BT_FE2', 'BT_FE3',
       'BT_FI1', 'BT_FI3', 'BW_HL1', 'BE_UL3', 'BG_ML3']:
        chambernames.append(name)
        chambertemp.append(group['Chamber_Temp'].median())

C:\Users\roseh\miniconda3\envs\rs-env\lib\site-packages\numpy\lib\nanfunctions.py:1216: RuntimeWarning: Mean of empty slice
  return np.nanmean(a, axis, out=out, keepdims=keepdims)
C:\Users\roseh\miniconda3\envs\rs-env\lib\site-packages\numpy\lib\nanfunctions.py:1216: RuntimeWarning: Mean of empty slice
  return np.nanmean(a, axis, out=out, keepdims=keepdims)

In [19]:
chamber_meds = pd.DataFrame(data={'chambernames': chambernames,'chambertemp':chambertemp})

In [20]:
chamber_meds

  chambernames  chambertemp
0       BE_UL1    26.034140
1       BE_UL3          NaN
2       BG_ML3          NaN
3       BL_ML1    25.999595
4       BR_HL3    27.560450
5       BT_FE2    24.859090
6       BT_FE3    26.549750
7       BT_FI1    25.003640
8       BT_FI3    25.252270
9       BW_HL1    29.405000

In [21]:
res=[]
resnames=[]
for name, group in grouped:
    if name in ['BE_UL1', 'BL_ML1', 'BR_HL3', 'BT_FE2', 'BT_FE3',
       'BT_FI1', 'BT_FI3', 'BW_HL1', 'BE_UL3', 'BG_ML3']:
        resnames.append(name)
        res.append(group['Res'].median())

In [22]:
res_meds = pd.DataFrame(data={'resnames': resnames,'res':res})

In [23]:
df = chamber_meds.merge(temp_meds,left_on='chambernames',right_on='tempnames')

In [25]:
merge1 = df.merge(lst_med_df,left_on='tempnames',right_on='labels')

In [26]:
merge2 = merge1.merge(sensor_meds,left_on='tempnames',right_on='sensor_names')

In [27]:
merge3 = merge2.merge(res_meds,left_on='tempnames',right_on='resnames')

In [28]:
merge4 = merge3.merge(ndvi_med_df,left_on='tempnames',right_on='labels')

In [29]:
merge4.to_csv(os.path.join(data_path,'seasonal_medians.csv'))

In [ ]:
merge.plot('soil_temps','lst',kind='scatter')

In [ ]:
merge.plot('chambertemp','lst',kind='scatter')

In [ ]:
merge.plot('sensor_temps','lst',kind='scatter')

In [ ]:
merge.to_csv('lst_and_ground_temps.csv')