In [1]:
import pandas as pd
import numpy as np
import os
import matplotlib.pyplot as plt

### Create Seasonal Mean df - all temps, lst, ndvi and evi

In [2]:
data_path = r'C:\Users\roseh\Desktop\NYBG_R\data'

In [3]:
lst_df = pd.read_csv(os.path.join(data_path,'lst_nybg_may_nov.csv'))

In [4]:
nybg_df = pd.read_csv(os.path.join(data_path,'nybg_all_main.csv'))

In [5]:
ndvi_df = pd.read_csv(os.path.join(data_path,'ndvi_sentinel_nybg_may_nov.csv'))

In [6]:
evi_df = pd.read_csv(os.path.join(data_path,'evi_may_nov_nybg.csv'))

In [7]:
evi_mean = evi_df.mean(numeric_only=True)
evi_mean_df = pd.DataFrame(evi_mean)
evi_mean_df = evi_mean_df.reset_index()
evi_mean_df = evi_mean_df.rename(columns={'index':'labels',0:'evi'})

In [8]:
evi_mean_df

   labels       evi
0  BE_UL1  0.454000
1  BL_ML1  0.732630
2  BR_HL3  0.448185
3  BT_FE2  0.516778
4  BT_FE3  0.506333
5  BT_FI1  0.597815
6  BT_FI3  0.573185
7  BW_HL1  0.376519
8  BE_UL3  0.575815
9  BG_ML3  0.535519

In [9]:
nybg_df['date'] = pd.to_datetime(nybg_df['date'])

In [10]:
#nybg_df = nybg_df.loc[nybg_df['date'] < '2022-11-01']

In [11]:
# sensors_df = pd.read_csv(os.path.join(data_path,'all_temp_sensors.csv'), parse_dates = ['Date'],na_values= ' ',dtype={'Temp_F': np.float32})
# sensors_df.dropna(inplace=True)
# sensors_df['Temp_C'] = (sensors_df['Temp_F'] - 32) * (5/9)
# sensors_df.info()

In [12]:
#sensors_df.to_csv(os.path.join(data_path,'all_temp_sensors.csv'))

In [13]:
# grouped_s = sensors_df.groupby('collar')
# sensor_temps = []
# sensor_names = []
# for name, group in grouped_s:
#     if name in ['BE_UL1', 'BL_ML1', 'BR_HL3', 'BT_FE2', 'BT_FE3',
#        'BT_FI1', 'BT_FI3', 'BW_HL1', 'BE_SV3', 'BG_UL3']:
#         sensor_names.append(name)
#         sensor_temps.append(group['Temp_C'].mean())
        
# sensor_means = pd.DataFrame(data={'sensor_names':sensor_names,'sensor_temps':sensor_temps})

In [14]:
# sensor_means.replace('BE_SV3','BE_UL3',inplace=True)
# sensor_means.replace('BG_UL3','BG_ML3',inplace=True)
# sensor_means

In [15]:
lst_df.columns

Index(['system:time_start', 'BE_UL1', 'BL_ML1', 'BR_HL3', 'BT_FE2', 'BT_FE3',
       'BT_FI1', 'BT_FI3', 'BW_HL1', 'BE_UL3', 'BG_ML3'],
      dtype='object')

In [16]:
lst_mean = lst_df.mean(numeric_only=True)

In [17]:
lst_mean_df = pd.DataFrame(lst_mean)

In [18]:
lst_mean_df = lst_mean_df.reset_index()

In [19]:
lst_mean_df = lst_mean_df.rename(columns={'index':'labels',0:'lst'})

In [20]:
lst_mean_df

   labels        lst
0  BE_UL1  28.232917
1  BL_ML1  27.754333
2  BR_HL3  30.077667
3  BT_FE2  26.433417
4  BT_FE3  25.805083
5  BT_FI1  26.063333
6  BT_FI3  25.707917
7  BW_HL1  30.597083
8  BE_UL3  28.683083
9  BG_ML3  30.040833

In [21]:
ndvi_mean = ndvi_df.mean(numeric_only=True)
ndvi_mean_df = pd.DataFrame(ndvi_mean)
ndvi_mean_df = ndvi_mean_df.reset_index()
ndvi_mean_df = ndvi_mean_df.rename(columns={'index':'labels',0:'ndvi'})

In [22]:
ndvi_mean_df

   labels      ndvi
0  BE_UL1  0.473520
1  BL_ML1  0.622080
2  BR_HL3  0.417680
3  BT_FE2  0.511600
4  BT_FE3  0.524958
5  BT_FI1  0.564280
6  BT_FI3  0.564875
7  BW_HL1  0.342040
8  BE_UL3  0.518240
9  BG_ML3  0.507160

In [23]:
grouped = nybg_df.groupby('Label')
temps = []
tempnames = []
for name, group in grouped:
    if name in ['BE_UL1', 'BL_ML1', 'BR_HL3', 'BT_FE2', 'BT_FE3',
       'BT_FI1', 'BT_FI3', 'BW_HL1', 'BE_UL3', 'BG_ML3']:
        tempnames.append(name)
        temps.append(group['Soil temperature'].mean())
        
temp_means = pd.DataFrame(data={'tempnames': tempnames,'soil_temps':temps})

In [24]:
temp_means

  tempnames  soil_temps
0    BE_UL1   22.344444
1    BE_UL3   21.366667
2    BG_ML3   23.200000
3    BL_ML1   21.428571
4    BR_HL3   22.983333
5    BT_FE2   19.590000
6    BT_FE3   19.977778
7    BT_FI1   19.100000
8    BT_FI3   19.811111
9    BW_HL1   24.100000

In [25]:
chambertemp=[]
chambernames=[]
for name, group in grouped:
    if name in ['BE_UL1', 'BL_ML1', 'BR_HL3', 'BT_FE2', 'BT_FE3',
       'BT_FI1', 'BT_FI3', 'BW_HL1', 'BE_UL3', 'BG_ML3']:
        chambernames.append(name)
        chambertemp.append(group['Chamber_Temp'].mean())

In [26]:
chamber_means = pd.DataFrame(data={'chambernames': chambernames,'chambertemp':chambertemp})

In [27]:
chamber_means

  chambernames  chambertemp
0       BE_UL1    27.254509
1       BE_UL3    27.048180
2       BG_ML3    28.404220
3       BL_ML1    26.124994
4       BR_HL3    27.329333
5       BT_FE2    25.161228
6       BT_FE3    26.355140
7       BT_FI1    24.865863
8       BT_FI3    25.087134
9       BW_HL1    27.896989

In [28]:
res=[]
resnames=[]
for name, group in grouped:
    if name in ['BE_UL1', 'BL_ML1', 'BR_HL3', 'BT_FE2', 'BT_FE3',
       'BT_FI1', 'BT_FI3', 'BW_HL1', 'BE_UL3', 'BG_ML3']:
        resnames.append(name)
        res.append(group['Res'].mean())

In [29]:
res_means = pd.DataFrame(data={'resnames': resnames,'res':res})

In [30]:
df = chamber_means.merge(temp_means,left_on='chambernames',right_on='tempnames')

In [31]:
df

  chambernames  chambertemp tempnames  soil_temps
0       BE_UL1    27.254509    BE_UL1   22.344444
1       BE_UL3    27.048180    BE_UL3   21.366667
2       BG_ML3    28.404220    BG_ML3   23.200000
3       BL_ML1    26.124994    BL_ML1   21.428571
4       BR_HL3    27.329333    BR_HL3   22.983333
5       BT_FE2    25.161228    BT_FE2   19.590000
6       BT_FE3    26.355140    BT_FE3   19.977778
7       BT_FI1    24.865863    BT_FI1   19.100000
8       BT_FI3    25.087134    BT_FI3   19.811111
9       BW_HL1    27.896989    BW_HL1   24.100000

In [32]:
merge1 = df.merge(lst_mean_df,left_on='tempnames',right_on='labels')

In [33]:
merge1

  chambernames  chambertemp tempnames  soil_temps  labels        lst
0       BE_UL1    27.254509    BE_UL1   22.344444  BE_UL1  28.232917
1       BE_UL3    27.048180    BE_UL3   21.366667  BE_UL3  28.683083
2       BG_ML3    28.404220    BG_ML3   23.200000  BG_ML3  30.040833
3       BL_ML1    26.124994    BL_ML1   21.428571  BL_ML1  27.754333
4       BR_HL3    27.329333    BR_HL3   22.983333  BR_HL3  30.077667
5       BT_FE2    25.161228    BT_FE2   19.590000  BT_FE2  26.433417
6       BT_FE3    26.355140    BT_FE3   19.977778  BT_FE3  25.805083
7       BT_FI1    24.865863    BT_FI1   19.100000  BT_FI1  26.063333
8       BT_FI3    25.087134    BT_FI3   19.811111  BT_FI3  25.707917
9       BW_HL1    27.896989    BW_HL1   24.100000  BW_HL1  30.597083

In [34]:
merge2 = merge1.merge(res_means,left_on='tempnames',right_on='resnames')

In [35]:
merge3 = merge2.merge(ndvi_mean_df,left_on='tempnames',right_on='labels')

In [36]:
merge4 = merge3.merge(evi_mean_df,left_on='tempnames',right_on='labels')

In [37]:
merge4.to_csv(os.path.join(data_path,'seasonal_means_may_nov.csv'))